@media(max-width:500px){
    .container{
        width: 90%;
        margin: auto;
    }
}
/* only-for-you-product-responive */
@media(max-width:1200px){
    .only-for-you-product-details{
        grid-template-columns: repeat(4, 25%);
    }
}
@media(max-width:940px){
    .only-for-you-product-details{
        grid-template-columns: repeat(3, 33.33%);
    }
}
@media(max-width:726px){
    .only-for-you-product-details{
        grid-template-columns: repeat(2, 50%);
    }
}
@media(max-width:450px){
    .only-for-you-product-details{
        grid-template-columns: repeat(1, 100%);
    }
}
/*footer-area*/

@media(max-width:991px){
.footer-details{
    grid-template-columns: repeat(2,1fr);
    grid-gap: 0px 50px;
}
}
@media(max-width:726px){
    .footer-details{
        grid-template-columns: 1.5fr;
        grid-row-gap: 20px;
    }
}

@media(max-width:991px){
    .footer-bottom-section{
        grid-template-columns: repeat(2,1fr);
        grid-gap: 0px 50px;
    }
    }
@media(max-width:756px){
        .footer-bottom-section{
            grid-template-columns:1fr;
 }
 .email{
     order: 1;
     padding: 20px 20px;
     max-width: 500px;
 }
 .we-accept{
     order: 0;
     margin-bottom: 30px;
 }
 .input-email button{
     position: static;
     border-radius: 50px;
     display: block;
     text-align: center;
     width: 100%;
     margin-top: 10px;
 }
 .email-img{
     display: none;
 }
}